/** 
* Amy van der Gun
* 10791760
*/

h1 {
	font: 20px sans-serif;
	text-align: center;
}

body {
	font: 12px sans-serif;
	text-align: center;
}

.dropdown {
	text-align: left;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
	fill: none;
	stroke-width: 1.5px;
}


